@font-face {
  font-family: 'aSans';
  src: url('./7月16日\ 新筑紫A丸\ 修正版\ v10+Sleek原版.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proSans';
  src: url('./クレPro-by\ 宁静之雨.ttf');
  font-weight: normal;
  font-style: normal;
}
